@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    height: 100vh;
    padding: 1rem 5rem;
    overflow-x: hidden;
}
p{
    font-family: 'Barlow', sans-serif;
    color: hsl(231, 7%, 65%);
}
h1{
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 4rem;
    line-height: 3.8rem;
}
span{
    font-family: 'Barlow Condensed', sans-serif;
    margin-right: 1rem;
    background-color: black;
    border-radius: 15px;
    padding: 0.1rem 0.4rem;
    font-weight: 700;
    color: hsl(207, 33%, 95%);
}
.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    width: 100%;
    align-items: center;
}

.wrapper .right{
    position: relative;
}
.wrapper .right .box{
    height: 350px;
    width: 130%;
    background-color: hsl(207, 33%, 95%);
    top: -40%;
    left: 0;
    z-index: -9;
    position: absolute;
    border-bottom-left-radius: 80px;
}
.content{
    color: hsl(230, 11%, 40%);
    font-size: 1.3rem;
}
.bottom-show{
    display: flex;
    align-items: center;
}
.bottom-show p{
    font-weight: 400;
}
.btn{
    padding: 1rem 1.5rem;
    background-color: hsl(0, 100%, 68%);
    text-decoration: none;
    color: hsl(207, 33%, 95%);
    font-weight: 700;
    border-radius: 5px;
    margin-right: 0.6rem;
    transition: 400ms;
}
.btn:hover{
    opacity: 0.7;
}

/* mobile menu */
.mobile{
    position: relative;
    display: none;
}
#checkbox_id{
    display: none;
}
#checkbox_id:checked + .mobile-menu{
    transform: translate(-50%, -35%);
    
}
.mobile-menu{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-600px);
    display: none;
    z-index: 99;
    transition: 600ms;
}
.card{
    width: 400px;
    display: grid;
    place-items: center;
    background-color: white;
}
.menu{
    padding: 1.5rem;
    list-style: none;
    text-align: center;
}
.menu-d{
    display: flex;
    list-style: none;
    text-align: center;
    font-weight: 700;
}
.menu-d li:nth-child(2){
    padding: 0 1rem;
}
.menu-d li:nth-child(3){
    padding-right:  3rem;
}
.menu-d li:nth-child(4) a{
    color: hsl(231, 7%, 65%);
}
.menu-d li a:hover{
    text-decoration: underline;
}
.menu a, .card a, .menu-d a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
/* mobile menu */

/* media queries */

@media (max-width:923px){
    body{
        padding: 1rem 2rem;
    }
    .menu-d{
        display: none;
    }
    .mobile,.mobile-menu{
        display: block;
    }
    .wrapper{
        grid-template-columns: 100%;
        grid-auto-flow: dense;
        margin: 1.5rem 0;
    }

    .wrapper .right{
        grid-row: 1;
        width: 100%;
        margin: 3rem 0;
        position: relative;
    }
    .wrapper .left{
        width: 100%;
        margin-bottom: 3rem 0;
        text-align: start;
    }
    .wrapper .right img{
        width: 120%;
    }
    .wrapper .right .box{
        transform: translateX(250px);
        height: 450px;
        top: -55%;
    }
    .bottom-show{
        justify-content: flex-start;
        margin-bottom: 3rem;
    }
    .menu li:nth-child(2){
        padding: 1rem 0;
    }
    .menu li{
        font-weight: 700;
    }
    .card{
        padding: 1rem 0;
        box-shadow: 0px 2px 15px 5px rgba(0,0,0,0.23);
    }
    .login{
        border-top: 1px solid hsl(231, 7%, 65%);
        width: 80%;
        text-align: center;
        padding-top: 1rem;
        font-weight: 700;
        color: hsl(231, 7%, 65%);
    }
    
}

/* media queries */
